@use 'variables'as *;

.sidebar {
  color: $iconColor;
  font-size: $fs-sm;
  border:none !important;
  padding:.5rem .8rem;
  margin-bottom: .1rem;
  font-weight: bold;
   &:hover{
    border:1px solid $iconColor !important;
  }
}

.subnav {
  list-style: none;
  margin: 0;
  padding-inline-start: 1.5rem;
//   border-left: 2px solid #e0e0e0;
  .subnav-item {
    display: flex;
    align-items: center;
    padding: 4px 8px!important;
    cursor: pointer;
    border-radius: 0.375rem;
    transition: background-color 0.2s ease;
    color: $iconColor;
    &:hover {
      background-color: $secondaryColor;
    }

    i {
      font-size: $fs-sm;
    }

    span {
      font-size: $fs-sm;
    }
  }
}

.router-link-active{
  background-color: $bghover;
  color:$primaryColor;
}

 .hoverSub{
  inset-inline-start:60px;
}

:host-context(html[dir="ltr"]) .pi-angle-left {
  transform: rotate(180deg);
}
