<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="w-100 d-flex justify-content-end">
        <app-button
          btnLabel="Add New Exam"
          [mainBtn]="true"
          (click)="onAddNewExam()"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex flex-column">
        <h5 class="certificationName">PMP® Certification</h5>
        <span class="certificationAbbr">Project Management Professional</span>
        <p class="certificationDescription">
          The closest experience to the real exam, available whenever you need
          it. Build unshakable exam-day confidence with full-length simulated
          tests designed by PMP-certified experts. Practice with hundreds of
          realistic, scenario-based questions that mirror PMI's style and
          complexity. Learn from detailed answer explanations that don't just
          tell you what's right—they show you why. Track your progress across
          every domain and identify exactly where to focus your final study
          efforts. A structured simulation path designed for your success.
        </p>
        <div class="row g-3 fleex-wrap">
          @for(exam of exams() ; let index=$index ; track index){
                <div
            class="col-md-6 col-lg-4 col-xl-3 "
          >
            <div class="certificationExamCard d-flex flex-column shadow-sm rounded-2 p-3 gap-3">
               <div class="d-flex align-items-center gap-1">
              <span class="iconCircle"
                ><i class="bi bi-pencil-square"></i
              ></span>
              <span class="examName fw-bold">Exam {{exam}}</span>
            </div>
            <div class="d-flex gap-3 justify-content-center examDetails py-2">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="d-flex align-items-center gap-1">
                  <span><i class="bi bi-question-circle"></i></span>
                  <span class="fw-bold">Questions</span>
                </div>
                <span>100</span>
              </div>
              <div class="line"></div>
              <div class="d-flex flex-column  align-items-center justify-content-center">
                <div class="d-flex align-items-center gap-1">
                  <span><i class="bi bi-clock"></i></span>
                  <span class="fw-bold">Duration</span>
                </div>
                <span>230 min</span>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-center gap-2">
              <app-button
                btnLabel="Add New Question"
                [mainBtn]="true"
                (click)="onAddNewQuestion(exam)"
              />
              <app-button
                btnLabel="Delete Exam"
                [secondaryBtn]="true"
                [mainBtn]="false"
                (click)="onDeleteExam(exam)"
              />
            </div>
            </div>
          </div>
          }

        </div>
      </div>
    </div>
  </div>
</div>
