@use "variables" as *;
.iconCircle {
  background-color: $primaryColor;
  color: $lightBgTextColor;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.examName {
  color: $primaryColor;
  font-size: 1.2rem;
}

.line {
  width: 1px;
  height: 50px;
  background-color: $borderColor;
}

.examDetails {
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
}
