

.input-group.is-invalid{
  border:1px solid var(--bs-form-invalid-color);
  border-radius: 8px;
}

.input-group.is-invalid .form-control{
  border-left:1px solid var(--bs-form-invalid-color) !important;
  color:var(--bs-form-invalid-color);
}
