:root .dark-theme {
  --placeHolderColor: #999999;
  --bgBody: #1e1e1e;
  --btnTextColor: #f9fafb;
  --btnBgColor: #0d6e4d;
  --iconColor: #e0e0e0;
  --iconCircleTextColor: #0d6e4d;
  --siteNavColor: #0f5132;
  --textColor: #f5f5f5;
  --borderColor: #333333;
  // --iconColorLight: #b3b3b3;
  // --sidebarBgColor: #092a1e;
    --primary-color:#AD1457;
}
