:root .light-theme {
  --primary-color: #ad1457;
  --secondary-color: #ec407a;
  --border-color: rgb(217, 217, 217);
  --dark-color: 233043;
  --light-bg-text-color: #fff;
  --light-text-colo: #233043;
  --label-color: #797979;
  --paragraph-color: #6d8493;
  --placeHolderColor: #797979;
  --bgBody: #f9fafb;

  --btnTextColor: #fff;
  --btnBgColor: #ad1457;
  // --iconColor: #F7FDF9;
  --iconColor: #f7fdf9;
  --iconCircleTextColor: #ad1457;
  --sidebarBgColor: #ad1457;
  --siteNavColor: #ad1457;
  --textColor: #f7fdf9;
  --borderColor: #f7fdf9;
  --iconColorLight: #ad1457;
  --bgCard: #fff;
  --hoverColor: #fff;
  --textGray: #9c9c9c;
  // --bgSubDepartment: #fff;
}
