@use 'variables' as *;
@use './light-theme';
@use './dark-theme';

html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background-color: $bgBody;
}
body * {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-feature-settings: 'calt'1, 'liga'1;
  unicode-bidi: isolate;
  text-rendering: optimizeLegibility;
  direction: inherit;
}
.drop-shadow{
  box-shadow: 0px 2px 2px 0px rgba(208, 210, 210, 0.25);
}
.basic-style{
  background-color: $siteNavColor;
  color:$textColor;
}
.text-site{
    color:$textColor;
}
.bg-body{
background-color: $bgBody;
}

h6{
  color:$siteNavColor;
  margin-bottom: 0px;
}

html .toast-success {
  background-color: #00857d !important;
}
html #toast-container.toast-top-right {
  z-index: 999999999 !important;
}

  .p-datatable-filter-overlay *{
font-size: $fs-xs !important;
overflow: visible !important;
.p-button{
  flex-grow: 1;
}
.p-button-label {
  padding:1rem;
}
}


.form-control {
  border-radius: 8px;
  border:none;
}
.input-group-text {
  background-color: var(--form-control-bg);
  border:none
  // border-start-start-radius: 8px;
  // border-end-start-radius: 8px;
}

.input-group-text i {
  color: var(--bs-placeholder-color) !important;
}

.validationError {
  color: var(--bs-form-invalid-color);
  font-size: 0.875em;
}
.validBorderError {
  border: 1px solid var(--bs-form-invalid-color);
  border-radius: 8px;
}
.ng-select{
 padding:0px;
}

.ng-select.ng-select-focused:not(.ng-select-opened) >.ng-select-container{
  border-color: $primaryColor;
  box-shadow: none;
}
label{
  // font-size:$fs-sm;
  font-weight: normal;
  color:$labelColor;
}
