
$btnTextColor: var(--btnTextColor);
$btnBgColor: var(--btnBgColor);
$siteNavColor: var(--siteNavColor);
$textColor: var(--textColor);
$borderColor: var(--borderColor);
$iconColorLight: var(--iconColorLight);
$iconCircleTextColor:var(--iconCircleTextColor);
$sidebarBgColor:var(--sidebarBgColor);
$bgCard:var(--bgCard);
$bghover:var(--hoverColor);
$textGray:var(--textGray);
$fs-xs:.6rem;
$fs-xl:4.5rem;
$fs-md:2rem;
$fs-md-2:1.5rem;
$fs-md-3:3rem;


$placeHolderColor: var(--placeHolderColor);
$iconColor: var(--iconColor);
$bgBody: var(--bgBody);
$primaryColor:var(--primary-color);
$secondaryColor:var(--secondary-color);
$lightBgTextColor:var(--light-bg-text-color);
$lightTextColor:var(--light-text-color);
$labelColor:var(--label-color);
$borderRadius:8px;
$boxShadow:4 -4px 12px #000;
$paragraphColor:var(--paragraph-color);
$borderColor:var(--border-color);
$fs-sm:.8rem;
$fs-l:1rem;

